.fapi-oooops{
	display: none;
	margin: 10px 0;
	padding: 10px;
	border: 2px solid #f60;
	border-radius: 4px;
}
	.fapi-oooops div{
		font-size: 0.9em;
	}
	

.fipi-button-input {
	cursor: pointer;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	top: -10px;
	right: -40px;
	font-size: 50px;
	position: absolute;
}

.fileapi_form_avatar,
.fileapi_form{
	position: relative;
}	

.fileapi_form input[type="text"]{
	display: inline-block;
	
	max-width: 100%;
	width: calc(100% - 34px);
	border:1px solid #eee;
}
.fileapi_form button{
	border:1px solid #eee;
	background: #f5f5f5;
}


.fileapi_form .fapi-js-dropzone,		
.fileapi_form .fapi-dropzone-bg {
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: 30000;
	position: absolute;
}
	.fapi-dropzone-bg {
		opacity: .2;
		background-color: #2D9DD7
	}
	.fapi-dropzone-txt {
		color: #1C81C7;
		font-size: 120%;
		font-weight: bold;
		text-align: center;
		width: 100%;
		height: 100%;
		z-index: 30001;
		position: absolute;
	}
	
.fapi-drag-n-drop{
	display: none;
	font-size: 0.8em;
}
button.fapi-button,
.fapi-button {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 5px 10px;
	vertical-align: middle;
	border: 1px solid #ccc;

	background-color: #51ca4d;
	color:#fff;
	text-shadow: 1px 1px 0px #777;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.fapi-js-start.fapi-button{
	background-color: #fcb142;
	text-shadow: 1px 1px 0px #777;
}

.fapi-button-hover { 

	box-shadow: 0 0 2px #f5f5f5;
}



	.fapi-buttont-text {
		color: #fff ;
		line-height: 1.2;
			}	
	.fapi-button-hover	.fapi-buttont-text{

	}
	
	
.fapi-file-preview {
	max-width: 600px;
	margin-bottom: 1em;
}

.fapi-b-file-abort,
.fapi-del:active,
.fapi-del:focus,
.fapi-del{
	position: absolute;
	right: 5px;
	top:3px;
	padding:1px 3px;
	font-size: 16px;
	line-height: 1em;
	cursor: pointer;
	color:red;
	background: #fff;
	font-weight: bold;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
	outline: none;

}
.fapi-del:hover{
	background: #f5f5f5;
}

.fapi-file_upload .fapi-js-reset,
.fapi-b-file-abort {
	display: none;
}

.fapi-file_upload .fapi-b-file-abort{
	display: block; 
}

.fapi-file_upload .fapi-js-info{
	display: none;
}

.fapi-process{
	font-size: 12px;
	display: none;
	color:#090;
	position: relative;
	z-index: 1;
}
.fapi-main-info{
	max-width: 600px;
	display: none;
	padding:5px 10px;
	background: #ffee80;
	color:#960;
	border:1px solid ;
	margin-top: 1em;
}

.fapi_ok{
	position: relative;
    height: 16px;
    width: 16px;
    font-weight: bold;
	color:#090;
    z-index: 1000;
	display: none;

}
.fapi-b-file-right {
	position: relative;
	float: left;
}

.fapi-left-border {
	border: 1px solid #f5f5f5;
}

.fapi-file-name {
	color: #36c;
	cursor: pointer;
	border-bottom: 1px dotted #36c;
	text-decoration: none;
	font-size:13px;
}
.fapi-file-name:hover {
	color: #f00;
	text-decoration: none;
	border-bottom-color: #f00;
}

.fapi-overflow{
	overflow: hidden;
}
.fapi-b-file {
	min-height: 40px;
	padding: 5px 15px 5px 0px;
	position: relative;
/*	overflow: hidden;*/
	border-radius: 0px;
/*	background-color: #fcfcfc;
	background: -webkit-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
	background: linear-gradient(to bottom, #fcfcfc 0%, #f6f6f6 100%);*/
	clear: both;

	border-bottom: 1px solid #eee;
}
.fapi-b-file.fapi-b-file-error{
	background-color: rgba(255,150,0,.2);
	padding: 5px 15px 5px 5px;
	margin-left: -5px;
}

			.fapi-b-file__info {
				color: #666;
				font-size: 12px;
				margin-top: 3px;
			}
.fileapi_form_avatar .fapi-b-file__info {
				color: #666;
				background: #eee;
				font-size: 12px;
				margin-top: 3px;
				text-align: center;
				padding:3px 5px;
			}
			.fapi-b-file__links{
				
				font-size: 12px;
				color: #666;
			}
			.fapi-b-file__links2{
				margin-top: 5px;
				font-size: 12px;
				color: #666;
			}


			.fapi-b-file__error {
				color: #c00;
			}
			.fapi-b-file__done {
				color: #458383;
			}
			
.fapi-b-file-bar {
	padding-top: 4px;
}	

.fapi-b-file-left {
	float: left;
	margin: 4px 10px 0 0px;
	line-height: 0;
}


		.fapi-b-progress {
			width: 100%;
			height: 10px;
			border: 2px solid #E2E4E2;
			border-radius: 2px;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
			background-color: #d3d3d3;
			position: relative;
			margin-bottom: 6px;
		}
		
			.fapi-b-progress-bar {
				position: relative;
		
				width: 0;
				height: 10px;
				border-radius: 2px;
				background-color: #2D9DD7;
				background: -webkit-linear-gradient(top, #2D9DD7 0%, #1C81C7 100%); /* FF3.6+ */
				background: -moz-linear-gradient(top, #2D9DD7 0%, #1C81C7 100%); /* FF3.6+ */
				background: linear-gradient(to bottom, #2D9DD7 0%, #1C81C7 100%); /* FF3.6+ */
				-webkit-transition: width .5s ease-out;
				-moz-transition: width .5s ease-out;
				-ms-transition: width .5s ease-out;
				transition: width .5s ease-out;
			}
			

/* avatar*/			
.fileapi_form_avatar .fapi-buttons-panel{
	width: 100%;
	position: absolute;
	bottom: 5px;
}

.fileapi_form_avatar .fapi-file-preview{
	position: relative;
	background: #f5f5f5;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}		

.fileapi_form_avatar .fapi-del,
.fileapi_form_avatar .fapi-abort{
	z-index: 1;
	position: absolute;
	top:5px;
	right: 5px;
}

.fileapi_form_avatar .fapi-b-file{
	padding: 0;
}
.fileapi_form_avatar .fapi-left-border{
	border: none;
}
.fileapi_form_avatar .fapi-b-file-right{
	position: absolute;
	float: none;
	width: 100%;
	top:45%;
	z-index: 1;
}

.fileapi_form_avatar .fapi-b-file-bar {
	padding: 4px 10px;
}
.fileapi_form_avatar .fapi_ok {
	padding: 4px 5px;
	background: rgba(255,255,255,.8);
	border-radius: 5px;
}
.align_center{
	text-align: center;
}
.fileapi_form_avatar .fapi-b-file{
	border:none;
}
/**/
.fapi-icon-insert-img{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
	line-height: 1em;
	top:4px;
	background: url('../icon/insert-image.png') 50% 50% no-repeat;
	margin-right: 0.5em;
}
.fapi-icon-insert-img.link-img{
	background: url('../icon/image_link.png') 50% 50% no-repeat;
}
.fapi-icon-insert-img.link-file{
	background: url('../icon/file_link.png') 50% 50% no-repeat;
}

.fapi-icon-file{
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
	background: url('../icon/unknown.png') 50% 50% no-repeat;
	margin-left: 2px;
}

/* type */
.fapi-icon-type-video
{
	background: url('../icon/extension_video.png') 50% 50% no-repeat;
}
.fapi-icon-type-audio
{
	background: url('../icon/extension_audio.png') 50% 50% no-repeat;
}
.fapi-icon-type-image
{
	background: url('../icon/extension_image.png') 50% 50% no-repeat;
}
.fapi-icon-type-application
{
	background: url('../icon/extension_application.png') 50% 50% no-repeat;
}

/* ext */
.fapi-icon-ext-zip
{
	background: url('../icon/extension_zip.png') 50% 50% no-repeat;
}
.fapi-icon-ext-rar
{
	background: url('../icon/extension_rar.png') 50% 50% no-repeat;
}
.fapi-icon-ext-7z
{
	background: url('../icon/extension_7z.png') 50% 50% no-repeat;
}

.fapi-icon-ext-mp3
{
	background: url('../icon/extension_audio.png') 50% 50% no-repeat;
}

.fapi-icon-ext-wav
{
	background: url('../icon/extension_wav.png') 50% 50% no-repeat;
}

.fapi-icon-ext-psd
{
	background: url('../icon/extension_psd.png') 50% 50% no-repeat;
}
.fapi-icon-ext-pdf
{
	background: url('../icon/extension_pdf.png') 50% 50% no-repeat;
}
.fapi-icon-ext-txt
{
	background: url('../icon/extension_txt.png') 50% 50% no-repeat;
}

.fapi-icon-ext-doc,
.fapi-icon-ext-docx
{
	background: url('../icon/extension_doc.png') 50% 50% no-repeat;
}

.fapi-icon-ext-mpg
{
	background: url('../icon/extension_mpg.png') 50% 50% no-repeat;
}
.fapi-icon-ext-mpeg
{
	background: url('../icon/extension_mpeg.png') 50% 50% no-repeat;
}
.fapi-icon-ext-mp4
{
	background: url('../icon/extension_mp4.png') 50% 50% no-repeat;
}
.fapi-icon-ext-wmv
{
	background: url('../icon/extension_wmv.png') 50% 50% no-repeat;
}

.fapi-icon-ext-bin
{
	background: url('../icon/extension_bin.png') 50% 50% no-repeat;
}
.fapi-icon-ext-wps
{
	background: url('../icon/extension_wps.png') 50% 50% no-repeat;
}
.fapi-icon-ext-eps
{
	background: url('../icon/extension_eps.png') 50% 50% no-repeat;
}
.fapi-icon-ext-cda
{
	background: url('../icon/extension_cda.png') 50% 50% no-repeat;
}

.fapi-icon-ext-torrent
{
	background: url('../icon/extension_torrent.png') 50% 50% no-repeat;
}
.fapiclear{
	position: relative;
	clear: both;
	float: none;
	padding-top:4px;
}
/*	fapi-dropdown */

ul.fapi-dropdown > li > ul li,
ul.fapi-dropdown > li > ul,
ul.fapi-dropdown{
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;

}
ul.fapi-dropdown > li{
	display: inline-block;
}
ul.fapi-dropdown > li > ul{
	display: none;
}
ul.fapi-dropdown > li  > ul{

	position: absolute;
	top:18px;
	background: #fff;
	box-shadow: 0px 1px 2px 1px rgba(200,200,200,0.6);
	z-index: 1;
}
ul.fapi-dropdown > li  > ul > li.head,
ul.fapi-dropdown > li  > ul > li > a{
	display: block;
	padding:3px 10px;
}
ul.fapi-dropdown > li  > ul > li > a:hover{
	background: rgba(200,200,200,0.3);
}

ul.fapi-dropdown > li  > ul > li.head{
	background: #458383;
	color:#fff;
}


/* popup */

.fapi_popup_body {
	z-index: 1;
	position: relative;
	background-color: #f5f5f5;
	padding: 10px 10px ;
	height: 100%;

}
.fapi_popup_body .lside{
	position: relative;
	float: left;
	width: calc(100% - 140px);
	height: 100%;

}
.fapi_popup_body .rside{
	position: relative;
	padding-left:10px;
	width: 140px;
	float: right;

}
.fapi_popup_body .clear{
	clear: both;
	float: none;
	position: relative;
}

.fapi_popup_body .imgprev{
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-bottom: 0.5em;
}
.fapi_popup_body .btnpanel {

	text-align: center;
}
.fapi_popup_body .btnpanel button{
	width: 100%;
	margin-bottom: 0.5em;
}
.fapi_popup_body .btnpanel button.jqmClose{
	margin-bottom: 0;
}

.fapi_popup_body .btnpanel button.w50{
	width: calc(50% - 2.5px);
	float: left;
}
.fapi_popup_body .btnpanel button.w50:nth-child(2n){
	margin-right: 5px;
}

.fapi_popup_body .btnpanel button img {
	width: 16px;
	height: 16px;
}
.fapi_popup_body .btnpanel .rotate-90{
    -moz-transform: rotate(-90deg); /* Для Firefox */
    -ms-transform: rotate(-90deg); /* Для IE */
    -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-90deg); /* Для Opera */
    transform: rotate(-90deg);
}
